einops==0.8.1
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
tensorboardX==2.6.2.2
torch==2.6.0
torchsummary==1.5.1
torchvision==0.21.0
transformers==4.51.0
